$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-dark-gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 41%);

//padding

$main-gutter: 5rem 15rem;
$tab-gutter: 5rem 10rem;
$bottom-gutter: 15rem;
